version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.1.5-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: sudo apt-add-repository ppa:ondrej/php -y
      - run: sudo apt-get update -y
      - run: sudo apt-get install apt install libphp7.2-embed php7.2 php7.2-bcmath php7.2-bz2 php7.2-cgi php7.2-cli php7.2-common php7.2-curl php7.2-dba php7.2-dev php7.2-enchant php7.2-fpm php7.2-gd php7.2-gmp php7.2-imap php7.2-interbase php7.2-intl php7.2-json php7.2-ldap php7.2-mbstring php7.2-mysql php7.2-odbc php7.2-opcache php7.2-pgsql php7.2-phpdbg php7.2-pspell php7.2-readline php7.2-recode php7.2-snmp php7.2-soap php7.2-sqlite3 php7.2-sybase php7.2-tidy php7.2-xml php7.2-xmlrpc php7.2-xsl php7.2-zip -y
      - run: sudo rm -f /usr/bin/php
      - run: sudo ln -sv /usr/bin/php7.2 /usr/bin/php
      - run: sudo wget https://getcomposer.org/download/1.6.5/composer.phar -O /usr/bin/composer
      - run: sudo chmod +x /usr/bin/composer
      - run: sudo composer self-update
      - restore_cache:
          keys:
          - composer-fx-{{ checksum "composer.json" }}
          - composer-fx-
      - run: composer install -n --prefer-dist
      - save_cache:
          key: composer-fx-{{ checksum "composer.json" }}
          paths:
            - ./vendor

      - run: curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
      - run: sudo apt-get install nodejs -y
      - run: sudo npm install -g npm
      - restore_cache:
          keys:
            - node-fx-{{ checksum "package.json" }}
            - node-fx-
      - run: npm install
      - save_cache:
          key: node-fx-{{ checksum "package.json" }}
          paths:
            - node_moduless

      # - run: phpunit
