<?php

define("CHANNEL_ACCESS_TOKEN", "xdrgSF1cNJERHhjwh3uO4l2J9sA6DWFMXpgRBgHr4RhMXgbRxdPgjgpaG7GymyDH5bjJhhTRxBURzPw3Xi939aTamjmDWQJtH81IoHAgFN4+KlYJMyGT4h56c7+aVKBLbT5NaTh3KG07kYmipQkgagdB04t89/1O/w1cDnyilFU=");
